.results {

  display: grid;
  gap: 2rem;

  @media screen and (min-width: 45rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 70rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}